# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Project-specific files
model_comparison.ipynb
logbook.md

spectraformer/baselines.py
unmixing_fitting_comprehensive.py

unmixing.py

unmixed_fitting.py
unmixed_fitting_dir.py

# clean all the local checkpoints from git tracking
checkpoints/*
# clean all the other saved models
saved_models/checkpoints/*
# keep the spectraformer:min70_highf model
!saved_models/checkpoints/spectraformer:min70_highf/
# clean all the steps inside the model folder
saved_models/checkpoints/spectraformer:min70_highf/*
# but keep the last step 59925
!saved_models/checkpoints/spectraformer:min70_highf/59925/
# and its content
!saved_models/checkpoints/spectraformer:min70_highf/59925/*
# same for metadata
!saved_models/checkpoints/spectraformer:min70_highf/metadata/
!saved_models/checkpoints/spectraformer:min70_highf/metadata/*


configs/*
!configs/configs_min70_highf.yaml


# no need to have these at the cluster
data/*
# an example datafile for model initialization
!data/SiC_19x10x3.nc 
!data/data_parser_script_v2.py

logs/*
!logs/spectraformer:min70_highf/
!logs/spectraformer:min70_highf/*


# *.png
# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Jupyter Notebook
.ipynb_checkpoints/

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.conda

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
*.swp
*.swo

# ML/Data Science
*.h5
*.hdf5
*.pkl
*.pickle
wandb/
mlruns/
lightning_logs/
checkpoints/
!saved_models/checkpoints/
*.ckpt
*.pt
*.pth

# JAX/Flax specific
orbax/

# Project-specific files
data/mixtures/
data/raw_data/
data/unmixed/
**/data_leo/
!logs/
*.jpg
*.jpeg
*.tif
*.bmp
*.gif
*.pdf
*.svg
*temp/

.conda

# User-specific files
*.rsuser
data/unmixed_spatial/min69_highf/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Node
node_modules/
